@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #fff0de;
}

#home {
  background: url(./assets/imgbg.svg);
  object-fit: fit;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  #home {
    background-image: none;
  }
}
